currencyExchangeSOAP/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DkToUsdInput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromCurrency" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="toCurrency" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="DkToUsdOutput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>

    <s:element name="UsdToDkInput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromCurrency" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="toCurrency" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="UsdToDkOutput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>


    </s:schema>
  </wsdl:types>
  
  
  
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="DkToUsdSoapIn">
    <wsdl:part name="parameters" element="tns:DkToUsdInput"/>
  </wsdl:message>
  <wsdl:message name="DkToUsdSoapOut">
    <wsdl:part name="parameters" element="tns:DkToUsdOutput"/>
  </wsdl:message>

   <wsdl:message name="UsdToDkSoapIn">
    <wsdl:part name="parameters" element="tns:UsdToDkInput"/>
  </wsdl:message>
  <wsdl:message name="UsdToDkSoapOut">
    <wsdl:part name="parameters" element="tns:UsdToDkOutput"/>
  </wsdl:message>
 
 
 
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="ExchangeServiceSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="DkToUs">
      <wsdl:input message="tns:DkToUsdSoapIn"/>
      <wsdl:output message="tns:DkToUsdSoapOut"/>
    </wsdl:operation>

    <wsdl:operation name="UsToDk">
      <wsdl:input message="tns:UsdToDkSoapIn"/>
      <wsdl:output message="tns:UsdToDkSoapOut"/>
    </wsdl:operation>

  </wsdl:portType>



  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="ExchangeServiceSoapPort" type="tns:ExchangeServiceSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DkToUs">
      <soap:operation soapAction="xx" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

        <wsdl:operation name="UsToDk">
      <soap:operation soapAction="xx" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>


  <!-- SERVICE:  -->
  <wsdl:service name="ExchangeService">
    <wsdl:port name="ExchangeServiceSoapPort" binding="tns:ExchangeServiceSoapPort">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
    
  </wsdl:service>
  
</wsdl:definitions>